@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nova Square', sans-serif;
}

:root {
    --yellow: #feca1b;
    --blue: #3761a8;
    --dark: #273135;
    --grayscale-medium: #4e5355;
    --grey: #303536;
}

body {
    background-image: url(./bilder/background.png);
    background-size: contain;
    position: relative;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0em;
    position: fixed;
    top: 0;
    background-image: url(./bilder/background.png);
    width: 100%;
    z-index: 99;
}

#champions-btn, #myteam-btn {
    border: 2px solid var(--blue);
    font-weight: 700;
    color: var(--blue);
    padding: .3em .5em;
    background-color: var(--yellow);
}

#champions-btn:hover, #myteam-btn:hover {
    color: var(--dark);
    border: 2px solid var(--dark);
}

.selected {
    background-color: var(--blue);
    font-size: 110%;
    color: var(--yellow);
}

.search-wrapper {
    margin: 2em auto .5em auto;
    padding: 0 0 0 .5em ;
    background-color: var(--dark);
    border: 1px solid var(--blue);
    width: fit-content;
    border-radius: .5em;
    display: flex; 
    align-items: center;
    gap: .5em;
}

.search-wrapper > i {
    color: var(--blue);
}

#search-input {
    background-color: var(--dark);
    width: 15em;
    padding: .2em .5em;
    border-radius: .5em;
    color: var(--yellow);
    outline: none;
    border: none;
    box-shadow: 2px 2px 5px rgb(24, 24, 24) inset;
}

/* --------CHAMPIONS VIEW------------ */
.pokemon-container {
    margin: 1em 1em; 
}

#error-message, .hover-message, .hover-message-team{
    color: var(--yellow);
    text-align: center;
    padding: 1em;
    margin: 0 auto;
}


#error-message {
    color: var(--yellow);
    font-size: 1.5em;
    text-align: center;
    padding: 1em;
    width: 10em;
    margin: 0 auto;
}

.hover-message{
    font-size: .8em;
    margin: 20em auto 0.5em auto;
}

.hover-message-team {
    margin: .5em auto;
    font-size: .8em;
}
/* -------DYNAMISK HTML---------- */
.pokemon-list, .reserve-container, .team-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.pokemon-card {
    background-color: var(--grayscale-medium);
    margin: 1em .5em;
    border-radius: .5em;
    border: 1px solid var(--yellow);
    box-shadow: 0px 1px 10px var(--yellow);
    width: 12em;
    height: 15.5em;
    text-align: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.pokemon-name {
    color: var(--yellow);
    font-size: 1.5em;
    cursor: pointer;
    background: none;
    border: none;
    margin-top: .5em;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info {
    color: var(--yellow);
    width: 22px;

}

.front-img, .team-front-img, .reserve-front-img {
   width: 125px;
}

.front-img {
    margin-bottom: .1em;
}

.team-front-img, .reserve-front-img {
    margin-top: ;
}

.pokemon-type {
    color: #fffaec;
    font-size: 1em;
    width: fit-content;
    margin: 0 auto;
    padding: 0em .8em;
    border-radius: .5em;
    margin-top: .3em;
}

.pokemon-type .first {
    margin-top: 1em;
}

.team-first {
    margin-top: -1em;

}

.add-btns {
    margin-top: -1.1em;
    display: flex;
    flex-direction: column;
    gap: .4em;
}

.add-to-team, .give-nickname, .remove-from-team {
    padding: .2em;
    border-radius: .5em;
    background-color: var(--yellow);
    color: var(--dark);
    margin: .6em 1em;
    border: none;
    box-shadow: 0px 0px 5px rgb(55,97,168);
}

.remove-from-team {
    margin-top: 0em;
}

.give-nickname {
    margin-bottom: 0.2em;
}

.add-to-team:hover, #champions-btn:hover, #myteam-btn:hover, .give-nickname:hover, .remove-from-team:hover {
    background-color: #cea10c;
     transition: all ease-in .3s;
}

.abilities-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .2em;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(101%);
    transition: 0.3s ease-in;
    overflow: auto;
    height: 78%;
    background-color: var(--yellow);
    border-radius: 0.7em 0.7em 0 0;
}

.info-container:hover .abilities-container{
    transform: translateY(0);
}

.abilities, .abilities-info {
    color: var(--dark);
    padding: 0.2em;
    font-size: 1.2em;
}

.pokemon-nickname {
    margin-top: -.2em;
    margin-bottom: 0em;
    font-size: 1.2em;
    color: var(--yellow);
}

.div-nickname, .move-or-remove{
    display: flex;
    flex-direction: column;
    background-color: var(--grey);
    box-shadow: 0px 1px 10px var(--yellow);
    padding: 2em;
    height: 15.5em;
    width: 12em;
    border-radius: .5em;
    align-items: center;
    justify-content: center;

}

.nickname-container{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.div-nickname > label {
    color: var(--yellow);
    font-size: 1.5em;
}

.div-nickname > input {
    margin: 1.2em;
    padding: 0.1em .5em;
    border-radius: .5em;
    border: 2px solid var(--dark);
    box-shadow: 2px 0px 2px black inset;
    background-color: var(--dark);
    color: var(--yellow);
    width: 10em;
}

.div-nickname > button, .move-or-remove > button {
    margin: .2em;
    padding: .2em 2em;
    border-radius: .5em;
    background-color: var(--dark);
    color: var(--yellow);
    border: 2px outset black
}

.move-or-remove {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.placement-arrows {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: .5em;
    margin: 0;
    padding: 0;
    color: var(--yellow);
    font-size: 1.5em;
    font-weight: 700;
    text-shadow: 2px 2px 3px var(--blue);
}

.team-placement{
    font-size: .8em;
}

.move-up, .move-down {
    cursor: pointer;
}

/* --------TEAM VIEV----------- */
.my-team-top, .reserves-top {
    color: var(--blue);
    background-color: var(--yellow);
    display: inline;
    padding: .3em 0.5em;
    border: 3px solid var(--blue);
    border-bottom: none;
    border-radius: .5em .5em 0 0;
    font-weight: 700;
}

.right {
    display: flex;
    justify-content: end;
    margin: 0em 3em -3em 0;
}

.left {
    margin: 2em 3em -2.3em 3em;
    padding: .4em 0;
}

.my-team-container, .reserve-container {
    background-color: #1a2226;
    height: fit-content;
    margin: 2em 3em 2em;
    padding: .5em;
    border-radius: 0 .5em 0.5em 0.5em;
    border: 2px solid rgb(55,97,168,0.7); 
    box-shadow: 1px 1px 10px var(--blue);
    min-width: 15em;  
}

.my-team-container {
    position: relative;
}

.reverse {
    border-radius: 0.5em 0 .5em .5em;
}

.more-members {
    color: var(--yellow);
    font-size: 1em;
    text-align: center;
    margin: 12em 0em 0em 0em;
    padding: .5em;
}
/* ----------- visibility --------- */
.team-view {
    display: none;
}

.team-visible {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.invisible-member-message {
    display: none;
}

.invisible {
    visibility: hidden;
}

/* ---------pokemon typer-------- */
.normal-type {
    background-color: #a8a878;
}

.fire-type {
    background-color: #F08030;
}

.water-type {
    background-color: #6890F0;
}

.grass-type {
    background-color: #78c850;
}

.electric-type {
    background-color: #f8d030;
}

.ice-type {
    background-color: #98d8d8;
}

.fighting-type {
    background-color: #c03028;
}

.poison-type {
    background-color: #a040a0;
}

.ground-type {
    background-color: #e0c068;
}

.flying-type {
    background-color: #a890f0;
}

.psychic-type {
    background-color: #f85888;
}

.bug-type {
    background-color: #a8b820;
}

.rock-type {
    background-color: #b8a038;
}

.ghost-type {
    background-color: #705898;
}

.dragon-type {
    background-color: #7038f8;
}

.dark-type {
    background-color: #705848;
}

.steel-type {
    background-color: #b8b8d0;
}

.fairy-type {
    background-color: #ee99ac;
}

