@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nova Square', sans-serif;
}

:root {
    --yellow: #feca1b;
    --blue: #3761a8;
    --red: #f50001;
    --dark: #273135;
    --grayscale-medium: #4e5355;
    --grayscale-dark: #444c50;
    --grayscale-light: #acacac;
    --grey: #303536;
}

body {
    background-image: url(./bilder/background.png);
    background-size: contain;
    position: relative;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0em;
    position: fixed;
    top: 0;
    background-image: url(./bilder/background.png);
    width: 100%;
}

#champions-btn, #myteam-btn {
    border: 2px solid var(--blue);
    font-weight: 700;
    color: var(--blue);
    padding: .3em .5em;
    background-color: var(--yellow);
}

#champions-btn:hover, #myteam-btn:hover {
    color: var(--dark);
    border: 2px solid var(--dark);
}

.selected {
    background-color: var(--blue);
    font-size: 110%;
    color: var(--yellow);
}

.search-wrapper {
    margin: 2em auto;
    padding: 0 0 0 .5em ;
    background-color: var(--dark);
    border: 1px solid var(--blue);
    width: fit-content;
    border-radius: .5em;
    display: flex; 
    align-items: center;
    gap: .5em;
    
}

.search-wrapper > i {
    color: var(--blue);
}

#search-input {
    background-color: var(--dark);
    width: 15em;
    padding: .2em .5em;
    border-radius: .5em;
    color: var(--yellow);
    outline: none;
    border: none;
    box-shadow: 2px 2px 5px rgb(24, 24, 24) inset;
}

/* --------CHAMPIONS VIEW------------ */
.pokemon-container {
    margin: 15em 1em;

}
.pokemon-list, .reserve-container, .team-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.team-members{
    position: relative;
}

/* .list-item, .team-item, .reserve-item {
    background-color: var(--grayscale-medium);
    margin: 1em .5em;
    border-radius: .5em;
    border: 1px solid var(--yellow);
    box-shadow: 0px 1px 10px var(--yellow);
    width: 12em;
    height: 15.5em;
    text-align: center;
    cursor: pointer;
}

.team-item, .reserve-item {
    height: 19.2em;
} */

.list-item, .pokemon-card {
    background-color: var(--grayscale-medium);
    margin: 1em .5em;
    border-radius: .5em;
    border: 1px solid var(--yellow);
    box-shadow: 0px 1px 10px var(--yellow);
    width: 12em;
    height: 15.5em;
    text-align: center;
    /* cursor: pointer; */
}

.pokemon-card {
    height: 19.2em;
    margin-top: 0;
}


.number-wrap {
    min-height: 16px;
    text-align: left;
    padding: 0 8px;
    color: var(--dark);
    background-color: rgb(245,0,1, 0.3);
    border-radius: .5em 0;
    margin: .1em;
    width: fit-content;
}


.front-img, .team-front-img, .reserve-front-img {
   width: 125px;
   margin-top: -1.2em;
}

.pokemon-name, .team-pokemon-name {
    color: var(--yellow);
    padding: 1.6em 0 0 0;
    margin-top: -1.2em;
    border-radius: .5em .5em 0 0;
    font-size: 1.5em;
    text-overflow: ellipsis;
    cursor: pointer;
}

.team-pokemon-name {
    padding: 0;
    margin-bottom: 0em;
}

.abilities-container {
    display: flex;
    flex-direction: column;
}

.abilites, .pokemon-abilities {
    color: var(--yellow);
}

.abilites {
    margin: 0 0 0.5em 0;
    cursor: pointer;
}

.add-btns {
    margin-top: -1.2em;
    padding: .3em 0 .6em 0;
    border-radius: 0 0 .5em .5em;
    display: flex;
    flex-direction: column;
    gap: .4em;

}

.add-to-team, .give-nickname, .remove-from-team {
    padding: .2em;
    border-radius: .5em;
    background-color: var(--yellow);
    color: var(--dark);
    margin: .6em 1em;
    border: none;
    box-shadow: 1px 1px 5px rgb(26, 26, 26);
}

.remove-from-team {
    margin-top: 0em;
}

.give-nickname {
    margin-bottom: 0.2em;
}

.add-to-team:hover, #champions-btn:hover, #myteam-btn:hover, .give-nickname:hover, .remove-from-team:hover {
    background-color: #cea10c;
     transition: all ease-in .3s;
}

#error-message {
    color: var(--yellow);
    font-size: 1.5em;
    text-align: center;
    padding: 1em;
    width: 10em;
    margin: 0 auto;
}

.div-nickname, .move-or-remove{
    display: flex;
    flex-direction: column;
    background-color: var(--grey);
    box-shadow: 0px 1px 10px var(--yellow);
    padding: 2em;
    height: fit-content;
    border-radius: .5em;
    align-items: center;
    position: fixed;
    top: 50%;
    /* left: 50%; */
}

.div-nickname > label {
    color: var(--yellow);
    font-size: 1.5em;
}

.div-nickname > input {
    margin: .2em;
    padding: 0.1em .5em;
    border-radius: .5em;
    border: 2px solid var(--dark);
    box-shadow: 2px 0px 2px black inset;
    background-color: var(--dark);
    color: var(--yellow);
}

.div-nickname > button, .move-or-remove > button {
    width: fit-content;
    padding: .2em 2em;
    border-radius: .5em;
    background-color: var(--dark);
    color: var(--yellow);
    margin: .2em;
}

/* ------ MY TEAM VIEW -------- */
.team-view {
    display: none;
}

.team-visible {
    display: flex !important;
    flex-direction: column;
    display: none;
    align-items: center;
    justify-content: center;
}

.my-team-top, .reserves-top {
    color: var(--blue);
    background-color: var(--yellow);
    display: inline;
    padding: .3em 0.5em;
    border: 3px solid var(--blue);
    border-bottom: none;
    border-radius: .5em .5em 0 0;
    font-weight: 700;
}

.right {
    display: flex;
    justify-content: end;
    margin: 0 3em -3em 0;
}

.left {
    margin: 10em 3em -2.3em 3em;
    padding: .4em 0;

}

.my-team-container, .reserve-container {
    background-color: #1a2226;
    height: fit-content;
    margin: 2em 3em 2em;
    padding: 3em !important;
    border-radius: 0 .5em 0.5em 0.5em;
    padding: .5em;
    border: 2px solid rgb(55,97,168,0.7); 
    box-shadow: 1px 1px 10px var(--blue);
    min-width: 20em;  
}

.my-team-container {
    position: relative;

}

.reverse {
    border-radius: 0.5em 0 .5em .5em;
}

.more-members {
    color: var(--yellow);
    font-size: 1em;
    text-align: center;
    margin: 3em 0em 0em 0em;
    padding: .5em;
}

.pokemon-nickname {
    margin-top: -1em;
    font-size: 1.2em;
    color: var(--yellow);
}

.invisible-member-message {
    display: none;
}

.placement-arrows {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: .5em;
    margin: 0;
    padding: 0;
    color: var(--yellow);
    font-size: 1.5em;
    font-weight: 700;
    text-shadow: 2px 2px 3px var(--blue);
}

.team-placement{
    font-size: .8em;
}

.move-up, .move-down {
    cursor: pointer;
}

.invisible {
    visibility: hidden;
}